@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Article&News secktion -->
 <section class="article-section">
    <div class="container">
         
        <div class="section-title">
            <p>Article & News</p>
             <h2>Get Every Singl Aricles & News</h2>
             <div class="browse-team">
              <a class="btn-dark" href="testional.html">Browse Articles <i class="fa-regular fa-arrow-up-right"></i></a>
             </div>
        </div>
        
      
          <div class="articles">
                  
                 
                  <div class="article">
                     <div class="article-date">
                         <div class="article-day">26</div>
                         <div class="article-month">Mar</div>
                       
                     </div>
               
               <img  src="images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="div image" />
               <div class="category">Business</div>
               <h5>Haw To Implement Chat GPT In Your Project</h5>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
            
               
                  <div class="article">
                     <div class="article-date">
                         <div class="article-day">17</div>
                         <div class="article-month">Mar</div>
                      
                     </div>
                    
               
               <img  src="images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="div image" />
                <div class="category">Business</div>
               <h5>Haw To Use Degitalization In The Classroom</h5>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
               <div class="article">
                     <div class="article-date">
                         <div class="article-day">13</div>
                         <div class="article-month">Mar</div>
                        
                     </div>
                     
               
               <img  src="images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="div image" />
                <div class="category">Business</div>
               <h5>The Guid To Supprort Modern CSS Disign</h5>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
             </div>
            
            
            
            </div>
             
    
   
</section>