@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Our team -->
 <section class="team-section">
    <div class="container">
        <div class="section-title">
            <p>Meet Our Team</p>
            <h2>Exppirience Team Member</h2>
            
        </div>
        
         <div class="browse-team">
              <a class="btn-dark" href="ourteam.html">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>
         </div>
          
          <div class="team-members">
              
            <div class="member">
               <img src="images/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="div image" />
               <h5>Christine Palme</h5>
               <p>Chef Operation Officer</p>
             </div>
           
              <div class="member">
               <img  src="images/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="div image" />
               <h5>Mark Aubri</h5>
               <p>Senior Consultant</p>
             </div>
             
             <div class="member">
               <img src="images/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="div image" />
               <h5>Kimberli Hansen</h5>
               <p>Senior Consultant</p>
            </div>
            
             <div class="member">
               <img src="images/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="div image" />
               <h5>Justin Willoman</h5>
               <p>Senior Tesh Consultant</p>
             </div>
         
                 
    </div>
   
</section>