@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Choose Us section -->
 <section class="repair-section">
    <div class="container">
            <div class="image-column">
                <img src="images/daria-pimkina-tYaccl19A3Q-unsplash.jpg" alt="div image" />
               </div>
               
     
        <div class="section-title">
            <p>About Company</p>
            <h2>Why We Are The Best Business Consulting Agency</h2>
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</h5>
            <h5>and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
        
        
         <div class="center-context">
              <a class="btn-dark" href="repair.html">Learn More <i class="fa-regular fa-arrow-up-right"></i></a>
          
              <a class="btn-dark" href="https://www.youtube.com/live/fZDkGjuZKfA?si=J5emczgy7QIvNa1A">Intro Video <i class="fa-regular fa-arrow-up-right"></i></a>
          </div>
            </div> 
        
             
        
        
           
       
                 
    </div>
   
</section>