@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Subscribe Section -->
 <section class="testimonial-section">
    <div class="container">
        <div class="section-title">
            <h2>Get News Updates By Signup</h2>
            
            
              <a class="btn-dark" href="#">E-mail <i class="fa-regular fa-arrow-up-right"></i></a>
              <a class="btn-dark" href="#">Subscribe<i class="fa-regular fa-arrow-up-right"></i></a>
         </div>
                 

   
</section>

