@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Testimonial -->
 <section class="testimonial-section">
    <div class="container">
           <div class="section-border">
        <div class="section-title">
            <p>Testimonial</p>
            <h2>What Our Client Says</h2>
            
        </div>
        
      
       
          <div class="testimonials">
    
              <div class="testimonial">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                  <div class="writer">
                     
               <img  src="images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="div image" />
               <h5>Cassandra Warren</h5>
               <p>Business Manager, Dorfus</p>
             </div>
             </div>
             
             <div class="testimonial">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                  <div class="writer">
               <img src="images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="div image" />
               <h5>Amanda Tulling</h5>
               <p>Senior Developer, Square</p>
            </div>
            </div>
              <div class="testimonial">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                <div class="writer">
               <img src="images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="div image" />
               <h5>Jack McDogglas, </h5>
               <p>Key Account Manager, Gobona</p>
             </div>
             </div>
            
            </div>
            <div class="browse-team">
              <a class="btn-dark" href="testional.html">All Reviews <i class="fa-regular fa-arrow-up-right"></i></a>
         </div>
                 
    </div>
   
</section>
