@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


 <!-- Choose Us section -->
 <section class="chooseus-section">
    <div class="container">
        <div class="section-title">
            <p>Why Choose Us</p>
            <h2>Why We Are The Best Business Consulting Agency</h2>
        
        <div class="content-column">
            <ul>
                <li>
                <i class="fa fa-thumbs-o-up"></i>
                <h5>Process Exellence</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </li>
            <li>
                <i class="fa fa-star-o"></i>
                <h5>Strategic Planning</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                
            </li>
            <li>
                <i class="fa-regular fa-pen"></i>
                <h5>Experience Disign</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </li>
            <li>
                <i class="fa-regular fa-head-side-gear"></i>
                <h5>Artificial Inteligence</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </li>
            </ul>
            </div>
            </div> 
        
             
            <div class="image-column">
                <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="div image" />
               </div>
               
     
        
           
       
                 
    </div>
   
</section>