@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html, body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
} 
    
.btn-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ffd800;
    border: 1px solid #F90783;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn-theme i {
    margin-left: 10px;
    font-size: 0.9em;
}

.btn-theme:hover {
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
}

.btn-dark {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn-dark i {
    margin-left: 8px;
    font-size: 0.9em;
}

.btn-dark:hover {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
}

.btn-online-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn-online-dark i {
    margin-left: 10px;
    font-size: 0.9em;
}

.btn-online-dark:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #FFFFFF;
}

.btn-white-play {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn-white-play i {
    margin-right: 10px;
    font-size: 2em;
}

.btn-white-play:hover {
    border: 1px solid #FFFFFF;
    color: #191919;
}

.btn-circle {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 50%;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn-circle i {
    font-size: 1.4em;
}

.btn-circle:hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #191919;
}

.center-context {
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    /*  font-family: "Inter", sans-serif;
    color: #8af91c;
    font-size: 18px;
    font-weight: 500;  */
    padding-top: 120px;
    padding-bottom: 90px;
}
    .section-title p {
        color: #f9401C;
        margin-bottom: 10px;
        
    }
    .section-title h2 {
        color: #191919;
        font-family: "DM Sans", sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .background-lines {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

.background-lines-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background-lines-white-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background-wavy-lines-right {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

.background-rectangle {
    background-color: #F0EFE9;
    width: 1057px;
    height: 425px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.dot-circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-circles .dot-circle {
        width: 12px;
        height: 12px;
        background-color: rgba(25, 25, 25, 0.2);
        border-radius: 50%;
        margin: 3px 5px;
}

    .dot-circles .dot-circle.active {
        background-color: rgba(25, 25, 25);
}

.item-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-pagination .item-link {
    color: #191919;
    margin: 4px;
    border: 1px solid rgba(25, 25, 25, 0.1);
    border-radius: 5px 5px 5px 5px;
    padding: 6px 16px;
    font-size: 1em;
    text-decoration: none;
}

item-pagination .item-link.active, .item.pagination .item-link:hover {
    background-color: #191919;
    color: #FFFFFF;
}

            .item-pagination .item-link.link-prev {
                margin-right: 15px;
            }

            .item-pagination .item-link.link-next {
                margin-left: 15px;
            }
 /* header */
            header {
                color: #191919;
                background-color: #F0EFE9;
                position: relative;
                z-index: 0;
            }

main {
    flex: 1;
}

.nav-section {
    padding: 10px 0px;
}

.nav-section .container {
        display: flex;
        align-items: center;
}

.nav-section .container .logotype {
    margin-right: 50px;
}

.nav-section .container nav {
    width: 100%;
}

.nav-section .container nav .first-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(25, 25, 25, 0.1);
        padding-bottom: 10px;
}

.nav-section .container nav .first-row span {
        margin-right: 20px;
}

.nav-section .container nav .first-row .company-info span > i {
            margin-right: 10px;
}

.nav-section .container nav .first-row .social-media a {
            color: #191919;
            margin-left: 10px;
}

    .nav-section .container nav .first-row .social-media a:hover {
        color: #999999;       
    }

    .nav-section .container nav .second-row {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 10px;
    }

    .nav-section .container nav .second-row .navbar a {
        display: inline-block;
        margin-right: 20px;
        text-decoration: none;
        color: #191919;
        position: relative;
    }

    .nav-section .container nav .second-row .navbar a.active::after, .nav-section .container nav .second-row .navbar a:hover::after {
        content: "";
        color: #000000;
        position: absolute;
        height: 2px;
        width: 15px;
        background: #191919;
        left: 50%;
        bottom: 3px;
        transform: translate(calc(50% - 15px));
    }
 
.showcase-section .container {
        display: flex;
        align-items: center;
}

.showcase-section .container .content-column {
   flex: 1;
}

.showcase-section .container .content-column h1 {
        font-family: "DM Sans", sans-serif;
        font-size: 76px;
        font-weight: 700;
}

    .showcase-section .container .content-column p {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

    .showcase-section .container .content-column button-links {
        display: flex;
    }

    .showcase-section .container .content-column button-links a {
        margin-right: 20px;
    }

    .showcase-section .container .image-column {
        flex: 1;
    }

    .showcase-section .container .image-column img {
        position: relative;
        left: 70px;
    }

.brands-section {
    padding: 60px 0;
}

    .brands-section .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

.feature-section {
    padding: 60px 0;
}

    .feature-section .container .section-border {
        margin: -50px -90px;
        padding: 80px 80px;
        border: 1px solid rgba(25, 25, 25, 0.1);
    }

       .feature-section .container .section-border .feature-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0px; 
        }

.feature-section .container .section-border .feature-grid .feature-learnmore {
    margin-right: 30%;
}

.feature-section .container .section-border .feature-grid .feature-learnmore h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
}

.feature-section .container .section-border .feature-grid .feature-learnmore a {
        display: flex;
}

.feature-section .container .section-border .feature-grid .feature-boxes .umb-block-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.feature-section .container .section-border .feature-grid .feature-boxes .umb-block-list .feature-box  i {
    font-size: 25px;
    margin-bottom: 20px;
}

    .feature-section .container .section-border .feature-grid .feature-boxes .umb-block-list .feature-box h4 {
        font-size: 22px;
        font-weight: 700;
    }
.choose-section {
    padding: 60px 0;
}

    .choose-section .container .section-border {
        margin: -50px -90px;
        padding: 80px .80px;
        border: 1px solid rgba(25, 25, 25, 0.1);
    }

        .choose-section .container .section-border .feature-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0px;
        }

            .choose-section .container .section-border .feature-grid .feature-learnmore {
                margin-right: 30%;
            }

                .choose-section .container .section-border .feature-grid .feature-learnmore h2 {
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 30px;
                   
                }

                .choose-section .container .section-border .feature-grid .feature-learnmore a {
                    display: flex;
                }

            .choose-section .container .section-border .feature-grid .feature-boxes .umb-block-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
            }

                .choose-section .container .section-border .feature-grid .feature-boxes .umb-block-list .feature-box i {
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                .choose-section .container .section-border .feature-grid .feature-boxes .umb-block-list .feature-box h2 {
                    font-size: 22px;
                    font-weight: 700;
                }

.service-section {
    padding: 60px 0;
   
}

.service-section .container {
        display: flex;
        justify-content: center;
      
    }

.service-section .container .section-border {          
            margin: -50px -90px;
            padding: 80px 80px;
            border: 1px solid rgba(25, 25, 25, 0.1);
        }

    .service-section .container .section-border .umb-block-list .service-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }


    .service-section .container .section-border .umb-block-list .service-boxes  i{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .service-section .container .section-border .umb-block-list .service-boxes h2 {
        font-size: 22px;
        font-weight: 700;
    }
    .service-section .container .section-border .umb-block-list .service-boxes a {
        font-size: 22px;
        font-weight: 700;
    }


.about-section {
    padding: 60px 0;
}
    .about-section .container {
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
        .about-section .container .image-column {
            position: relative;
        }
        .about-section .container .image-column img {
            margin-left: 60px;
            width: 500px;
            height: 615px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .about-section .container .image-column imgage-quote {
            box-shadow: -1px 0 5px 1px rgba(0, 0, 0, 0.1);
            width: 368px;
            position: absolute;
            bottom: 30px;
            background-color: #BEEBFF;
            padding: 20px 50px 20px 20px;
        }
.about-section .container .image-column imgage-quote h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
    .about-section .container .image-column imgage-quote h4 span {
        color: #F9401C;
        font-size: 16px;
    }
            .about-section .container .image-column imgage-quote p {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 600;
            }
.about-section .container .content-column {
    margin-right: 20%;
}
    .about-section .container .content-column h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .about-section .container .content-column p {
        margin-bottom: 40px;
    }
    .about-section .container .content-column a {
      display: flex;
    }
    .about-section .container .content-column .about-links {
        display: flex;
    }
    .about-section .container .content-column .about-links a {
        margin-right: 20px;
    }
.service-section {
    color: #191919;
    background-color: #F0EFF9;
    position: relative;
    z-index: 0;
    padding: 60px 0;
}
    .service-section .container .section-title {
        margin-bottom: 15px;
    }
    .service-section .container h2 {
        width: 40%;
        font-family: "DM Sans", sans-serif;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 45px;
    }
    .service-section .container .service-boxes {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .service-section .container .service-boxes .service-box {
        padding: 30px;
        background-color: #FFFFFF;
        transition: all 0.15s ease-in-out;
    }
    .service-section .container .service-boxes .service-box .line {
        background-color: #191919;
        width: 40px;
        height: 2px;
        margin-bottom: 30px;
    }
    .service-section .container .service-boxes .service-box h4 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
    .service-section .container .service-boxes .service-box p {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .service-section .container .service-boxes .service-box .service-box-links {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 0px 0px;
    }
    .service-section .container .service-boxes .service-box:hover {
        background-color: #F90783;
    }
    .service-section .container .service-boxes .browse-services {
        padding: 50px 0px;
        display: flex;
        justify-content: center; 
    }
   

        .chooseus-section {
            position: relative;
            z-index: 0;
            padding: 60px 0 0 0;
        }
    .chooseus-section .container {
        display: flex;
        justify-content: space-between;
    }
        .chooseus-section .container .section-title {
            margin-bottom: 15px;
        }
        .chooseus-section .container h2 {
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 45px;
        }
        .chooseus-section .container .content-column {
            flex: 1;
        }
            .chooseus-section .container .content-column ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
                .chooseus-section .container .content-column ul li {
                    margin-top: 40px;
                    display: grid;
                    grid-template-areas: "img title" "img text";
                }
                    .chooseus-section .container .content-column ul li i {
                        font-size: 1.5em;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        border: 1px solid rgba(25, 25, 25, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-area: img;
                    }
                    .chooseus-section .container .content-column ul li h5 {
                        font-family: "DM Sans", sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        grid-area: title;
                    }
                    .chooseus-section .container .content-column ul li p {
                        font-family: "Inter", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        grid-area: text;
                    }
            .chooseus-section .container .image-column {
                flex: 2;
                text-align: right;
            }
                .chooseus-section .container .image-column img {
                    width: 645px;
                    height: 505px;
                    -o-object-fit: contain;
                    object-fit: contain;
                }
.project-section {
    position: relative;
    z-index: 0;
    padding: 60px 0 0 0;
}
    .project-section .container {
        text-align: center;
    }
    .project-section .container .section-title {
        margin-bottom: 15px;
    }
        .project-section .container h2 {
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 75px;
        }
        .project-section .container .project-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
            .project-section .container .project-grid .project {
                display: block;
                text-decoration: none;
                color: #191919;
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 20px;
                transition: border 0.15s ease-in-out;
            }
                .project-section .container .project-grid .project img {
                    width: 100%;
                    height: 311px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
                .project-section .container .project-grid .project h5 {
                    text-align: left;
                    font-family: "DM Sans", sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 75px;
                }
                .project-section .container .project-grid .project p {
                    margin: 20px 20px 0 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    text-decoration: none;
                    font-family: "Inter", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #191919;
                }
                    .project-section .container .project-grid .project p i {
                        margin: 5px;
                    }
                .project-section .container .project-grid .project:hover {
                    border: 1px solid rgba(25, 25, 25, 0.1);
                }

.project-and-case .container .center-context {
        margin-top: 50px;
        margin-bottom: 90px;
}
.project-and-case .container .section-title {
    text-align: center;
}
.project-and-case .container .project-and-cases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


    .project-and-case .container .project-and-cases img {
        height: 307px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .project-and-case .container .project-and-cases h3 {
        color: #191919;
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 16px;
        padding-top: 35px;
        border-bottom: 1px solid #d4d9d3;
    }
        .project-and-case .container .project-and-cases a {
            padding: 15px;
            display: block;
            text-align: right;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #191919;
            text-decoration: none;

        }
            .project-and-case .container .project-and-cases i {
                margin-left: 3px;
            }

            .team-section {
                background-color: #F00082;
                position: relative;
                z-index: 0;
                padding: 60px 0 60px 0;
            }

    .team-section .container .section-title {
        margin-bottom: 15px;
    }

    .team-section .container .browse-team {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

        .team-section .container .browse-team h2 {
            flex: 1;
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
        }
    .team-section .container .team-members {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

        .team-section .container .team-members .member img {
            height: 420px;
            width: 307px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .team-section .container .team-members member h5 {
            font-family: "DM Sans", sans-serif;
            font-size: 22px;
            font-weight: 700;
            margin: 30px 0 0 0;
        }

        .team-section .container .team-members .member p {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

.testimonial-section {
                    text-align: center;
                    background-color: #F00082;
                    position: relative;
                    z-index: 0;
                    padding: 60px 0 0px 0;
                    padding-bottom: 120px;
                }

    .testimonial-section .container .section-border {
         margin: -50px -90px;
         padding: 120px 80px;
         background-color: #FFFFFF;
    }

        .testimonial-section .container .section-border .section-title {
            margin-bottom: 15px;
        }

        .testimonial-section .container .section-border h2 {
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 60px;
        }

        .testimonial-section .container .section-border .testimonials {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 100px;
            margin-bottom: 40px;
        }

    .testimonial-section .container .section-border .testimonials .testimonial {
        text-align: left;
    }

        .testimonial-section .container .section-border .testimonials .testimonial .rating {
            margin: 20px 0;
            color: #F94D1C;
        }

        .testimonial-section .container .section-border .testimonials .testimonial .writer {
            text-align: left;
            align-items: center;
            display: grid;
            grid-template-columns: 90px 1fr;
            grid-template-areas: "img name" "img position"
        }

            .testimonial-section .container .section-border .testimonials .testimonial .writer img {
                grid-area: img;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                -o-object-fit: cover;
                object-fit: cover;
                margin-top: 15px;
            }

            .testimonial-section .container .section-border .testimonials .testimonial .writer h5 {
                grid-area: name;
                font-family: "DM Sans", sans-serif;
                font-size: 22px;
                font-weight: 700;
                width: 30px 0 0 0;
            }

            .testimonial-section .container .section-border .testimonials .testimonial .writer p {
                grid-area: position;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #F94D1C;
            }

.testimonial-section .container .section-border a {
    display: inline-block;
    margin: 50px 0 0 0;
}

.article-section {
    position: relative;
    z-index: 0;
    padding: 60px 0 60px 0;
}

    .article-section .container section-title {
        margin-bottom: 15px;
    }

    .article-section .container browse-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

        .article-section .container browse-news h2 {
            flex: 1;
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
        }

    .article-section .container .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 40px;
    }

        .article-section .container .articles .article {
            position: relative;
            text-decoration: none;
            color: #191919;
            border: 1px solid rgba(25, 25, 25, 0.1);
            padding: 20px;
            transition: border 0.15s ease-in-out;
        }

            .article-section .container .articles .article .article-date {
                position: absolute;
                left: 30px;
                top: 30px;
                background-color: #F00082;
                height: 64px;
                width: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
            }

                .article-section .container .articles .article .article-date .day {
                    font-family: "DM Sans", sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: -10px;
                }

                .article-section .container .articles .article .article-date .month {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;                   
                }

            .article-section .container .articles .article img {
                height: 230px;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }

            .article-section .container .articles .article .category {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                margin-top: 20px;
            }

    .article-section .container .articles .article h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .article-section .container .articles .article p {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .article_section .container .articles .article:hover {
        border: 1px solid rgba(25, 25, 25, 0.1);
    }

.newsletter-section {
    position: relative;
    z-index: 0;
    padding: 80px 0;
    background-color: #F0EFE9;
}
    .newsletter-section .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .newsletter-section .container h2 {
            flex: 1;
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;
        }
        .newsletter-section .container form {
            display: flex;
        }
        .newsletter-section .container form input {
            border-radius: 25px;
            padding: 0 20px;
            margin-right: 20px;
            outline: none;
            border: 1px solid rgba(25, 25, 25, 0.1);
        }
.pagetitle-section {
    padding: 60px 0 60px 0;
}
.pagetitle-section .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
    .pagetitle-section .container .breadcrumb a {
      color: #191919;
      text-decoration: none;
    }

    .pagetitle-section .container .breadcrumb a:hover {
        text-decoration: underline;
    }
    .pagetitle-section .container .breadcrumb span {
        margin-left: 20px;
        font-weight: 700;
    }
    .pagetitle-section .container h2 {
        flex: 1;
        font-family: "DM Sans", sans-serif;
        font-size: 45px;
        font-weight: 700;
    }
.contactinfo-section {
    padding: 80px 0 0 0 ;
}
    .contactinfo-section .container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
        .contactinfo-section .container .infobox {
            flex: 1;
            border: 1px solid rgba(25, 25, 25, 0.1);
            padding: 20px 60px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "icon title" "icon info";
        }

            .contactinfo-section .container .infobox .black-circle {
                grid-area: icon;
                border-radius: 50%;
                background-color: #191919;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
            }
            .contactinfo-section .container .infobox p {
                margin: 0;
            }

.contactform-section {
    padding: 80px 0 0 0;
}


.contactform-section .container {
    color: #191919;
    background-color: #F0EFE9;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
    .contactform-section .container h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 45px;
        font-weight: 700;
        width: 40%;
    }
.contactform_section .container form {
    width: 100%;
    padding: 20px 100px;
}

    .contactform_section .container form input {
        display: block;
        border-radius: 25px;
        padding: 0 20px;
        margin-right: 20px;
        outline: none;
        border: 1px solid rgba(25, 25, 25, 0.1);
        padding: 15px 20px;
        margin: 15px 0;
        width: 100%
    }
    .contactform_section .container form textarea {
        display: block;
        border-radius: 25px;
        padding: 0 20px;
        margin-right: 20px;
        outline: none;
        border: 1px solid rgba(25, 25, 25, 0.1);
        padding: 15px 20px;
        margin: 15px 0;
        width: 100%;
        height: 200px;
        resize: none;
    }
    .contactform_section .container form button {
        margin-top: 20px;
    }
*/

/* Общие стили для контактной формы */




/* Стили для полей ввода */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Занимать 100% ширины контейнера */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Внешние отступы снизу */
    border: 1px solid #ccc; /* Граница */
    border-radius: 25px; /* Скругление углов */
    box-sizing: border-box; /* Учитывать границу внутри ширины и высоты */
}

textarea {
    height: 150px; /* Высота для textarea */
}


/* Стили для сообщения об ошибке валидации */
.validation-summary-errors {
    color: red; /* Цвет текста */
    margin-bottom: 15px; /* Внешние отступы снизу */
}

/* Стили для сообщений об успешной отправке формы (если используется) */
.success-message {
    color: green; /* Цвет текста */
    margin-top: 15px; /* Внешние отступы сверху */
}
.articleitem-section {
    position: relative;
    z-index: 0;
    padding: 60px 0 60px 0;
}
    .articleitem-section .container .metadata .article-details {
        flex: 1;
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 35px;
    }

        .articleitem-section .container .metadata .article-details i {
            margin: 0 20px;
            font-size: 10px;
            color: #F90783;
        }

    .articleitem-section .container .article {
        display: flex;
        -moz-column-gap: 100px;
        column-gap: 100px;
    }

        .articleitem-section .container .article .content {
            flex: 2;
            margin-bottom: 40px;
            font-family: "Inter", sans-serif;
        }

            .articleitem-section .container .article .content .article-image {
                margin-bottom: 30px;
                width: 100%;
            }

            .articleitem-section .container .article .content .tags {
                margin-top: 40px;
                margin-bottom: 40px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 500;
            }

                .articleitem-section .container .article .content .tags span {
                    color: #191919;
                    background-color: #F3F3F3;
                    padding: 10px 20px;
                    border-radius: 25px;
                    margin-right: 12px;
                }

.googlemaps-section {
    padding: 80px 0 0 0;
}

.google-maps {
    width: 100%;
    height: 620px;
    border: none;
}
       
    .contact-form {
                    margin-top: 60px;
                    margin-bottom: 60px;
                }
                .contact-form .container {
                    max-width: 1110px;
                
                }
                .contact-form h2 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                
                .contact-form form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;
                }
                .contact-form form input {
                    width: 100%;
                    padding: 18px 20px;
                    border: 1px solid var(--color-light-gray);
                }
                
                .contact-form form .textarea {
                    grid-column: 1 / -1;
                }
                .contact-form form textarea {
                    width: 100%; 
                    padding: 18px 20px;
                    border: 1px solid var(--color-light-gray);
                    height: 140px;
                    resize: none;
                }
                
                .contact-form form .error {
                    color: var(--color-theme);
                    border: 1px solid var(--color-theme);
                }
                
                .contact-form form .errorMessage {
                    margin-top: 5px;
                    color: var(--color-theme);
                    font-size: 0.8em;
                
                }
                .contact-form form button {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: left;
                    border: none;
                    font-weight: 600;
                    transition: all;
                }
                

                footer {
                    background-color: #0E1021;
                    color: #FFFFFF;
                }
    footer .footer-section {
        position: relative;
        z-index: 0;
        padding: 70px 0;
        border-bottom: 1px solid rgba(135, 136, 144, 0.4);
    }
    footer .footer-section .container {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }
footer .footer-section .container .logo {
    padding-right: 80px;
}
    footer .footer-section .container .logo p {
        padding-top: 30px;
    }
    footer .footer-section .container .logo h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
    footer .footer-section .container .logo ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        footer .footer-section .container .logo ul li {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 500;
            margin-top: 20px;
        }
        footer .footer-section .container .logo ul li a {
            text-decoration: none;
            color: #A7A7AE;
        }
            footer .footer-section .container .logo ul li a:hover {
                text-decoration: underline;
                color: #FFFFFF;
            }
.footer .copyright-section {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}
footer copyright-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer copyright-section .container .social-media a {
        color: #FFFFFF;
        margin-left: 10px;
    }
    footer copyright-section .container .social-media a:hover {
        color: #999999;    
    } 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            






















